.button {
   -fx-background-color: #CB772F;
   -fx-text-fill: #201F1D;
}
.menu-button{
    -fx-background-color: #CB772F;
}

.menu-button .label {
     -fx-text-fill: #201F1D;
     -fx-background-color: #CB772F;
}
.menu-button .arrow-button {
     -fx-background-color: #CB772F;
}

.menu-button .arrow-button .arrow {/
     -fx-background-color: #201F1D;
}
.menu-item{
    -fx-background-color: #CB772F;
}
.menu-item:focused {
   -fx-background-color: #CB772F;
}
.context-menu{
    -fx-background-color: #CB772F;
}
.radio-button .dot{
    -fx-mark-highlight-color: #CB772F;
    -fx-mark-color: #DE8D47;
}
.list-view{
   -fx-background-color: #A9B7C6;
}

.menu-item:focused .label {
  -fx-text-fill: white;
}
/*
.list-cell:odd{
    -fx-background-color: #CB772F;
}
.list-cell:even{
    -fx-background-color: #201F1D;
}*/
.borderpane{
    -fx-background-color: #A9B7C6;
}
.sort{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.valuables{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

